{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {% block title %}Red blood cells{% endblock %}
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="grey" class="bi bi-question-circle" viewBox="0 0 16 16" id="help-circle">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
    </svg>

</h1>
<div>
    <div class="col-md-12 text-center">
        <h3 style="padding:15px;">Page {{ page }} of {{ max_page }}</h3>
    </div>
    <div class="container">
    {% set i = n_rows %}
    {% set j = n_cols %}
    {% for col_id in range(i) %}
        <div class="row">
        {% for row_id in range(j) %}
            <div class="col text-center" style="height:180px;width:140px;">
                {% set idx = col_id*j+row_id %}
                {% if idx > -1 %}
                    <div class="card text-center" style="height:160px;width:180px">
                        <div style="width:100%;height:110px;display:flex;align-items:center;justify-content:center;">
                        <img style="vertical-align: middle;display:inline-block;" id="cell{{ cell_idxs[idx] }}" class="w-auto card-img-top smallimg mx-auto cell" src="data:image/png;base64,{{ image_blobs[idx] }}">
                        </div>
                        <div style="height:60px" class="card-body" id="label{{ cell_idxs[idx] }}">
                          <select class="form-control form-control-sm" id="label_form{{ cell_idxs[idx] }}">
                              <option value='none'>--------</option>
                              {% for element in cell_hierarchy %}
                                {% if element.is_group == true %}
                                  <optgroup label="{{ element.name }}">
                                    {% for cell in element.elements %}
                                      <option value="{{ cell }}">{{ element.elements[cell] }}</option>
                                    {% endfor %}
                                  </optgroup>
                                {% else %}
                                  {% for cell in element.elements %}
                                    <option value="{{ cell }}">{{ element.elements[cell] }}</option>
                                  {% endfor %}
                                {% endif %}
                              {% endfor %}
                          </select>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
    <div style="padding:15px;" class="col-md-12 text-center">
      <div class="btn-group btn-group-sm" role="group" aria-label="Page navigation">
        <div>
        {% if page == 1 %}
            <button type="button" class="btn btn-warning disabled">Previous page</button>
        {% else %}
            <a href="{{ url_for('image.rbc',page=page - 1) }}"><button type="button" class="btn btn-warning">Previous page</button></a>
        {% endif %}
        </div>

        <div>
          <a href="#" class="btn btn-secondary active" role="button" aria-pressed="true" onclick="random_page()">
            Random page
          </a>
        </div>

        <div>
        {% if page < max_page %}
            <a href="{{ url_for('image.rbc',page=page + 1) }}"><button type="button" class="btn btn-warning">Next page</button></a>
        {% else %}
            <button type="button" class="btn btn-warning disabled">Next page</button>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="container text-center" style="padding-bottom:30px">
      Go to page:
      <select class="form-control form-control-sm" id="change-page" style="width:10%;margin:0 auto">
        {% for i in range(1,max_page) %}
          <option value="{{i}}">{{i}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="jumbotron jumbotron-fluid" id="help-text" style="visibility:hidden;">
      <div class="container">
        <h1 class="display-4">Help</h1>
        <p class="lead">
          This is an effort to create a curation platform where we can crowdsource
          expert knowledge on blood cell annotation.
          We try to provide all the relevant cell types, but if you believe
          some are missing please get in touch via <a href="mailto:josegcpa@ebi.ac.uk">e-mail<a>.</p>
        <p class="lead">
          These cells were detected using exclusively computational methods.
          As such, while cells are abundant, there are a few mistakes. For
          these we have the classes under "Artefacts".</p>
        <h4>Artefact examples</h4>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-sm">
              <div style="height:45px">
                <img src="/static/images/artefacts-rbc/incomplete-rbc-1.jpg">
                <img src="/static/images/artefacts-rbc/incomplete-rbc-2.jpg">
              </div>
                <p style="padding-top:10px">Incomplete RBC</p>
            </div>
            <div class="col-sm">
              <div style="height:45px">
                <img src="/static/images/artefacts-rbc/multiple-rbc-1.jpg">
                <img src="/static/images/artefacts-rbc/multiple-rbc-2.jpg">
              </div>
                <p style="padding-top:10px">Multiple RBC</p>
            </div>
            <div class="col-sm">
              <div style="height:45px">
                <img src="/static/images/artefacts-rbc/nearby-platelet-1.jpg">
                <img src="/static/images/artefacts-rbc/nearby-platelet-2.jpg"">
              </div>
                <p style="padding-top:10px">Nearby platelet</p>
            </div>
            <div class="col-sm">
              <div style="height:45px">
                <img src="/static/images/artefacts-rbc/no-rbc-1.jpg">
                <img src="/static/images/artefacts-rbc/no-rbc-2.jpg">
                <img src="/static/images/artefacts-rbc/no-rbc-3.jpg">
              </div>
                <p style="padding-top:10px">No RBC</p>
            </div>
            <div class="col-sm">
              <div style="height:45px">
                <img src="/static/images/artefacts-rbc/platelet-dye-1.jpg">
                <img src="/static/images/artefacts-rbc/platelet-dye-2.jpg">
                <img src="/static/images/artefacts-rbc/platelet-dye-3.jpg">
              </div>
                <p style="padding-top:10px">Platelet/dye</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script>
  const labels = {{ labels | tojson }}
  const cell_idxs = {{ cell_idxs | tojson }}
  const max_page = {{ max_page }}
  var clicked = false;
  var help = d3.select('#help-text')
  .style('position',"absolute")
  .style('margin','auto')
  .style('top',"30%")
  var help_circle = d3.select('#help-circle')
  help_circle
  .on("mouseover",function() {
    help
    .style("opacity",0)
    .style("visibility","visible")
    .transition()
    .duration(300)
    .style("opacity",1)
  })
  .on("mouseout",function() {
    help
    .transition()
    .duration(300)
    .style("opacity",0)
    help
    .transition()
    .delay(300)
    .style("visibility","hidden")
  })

  function random_page() {
    page_val = Math.floor(Math.random() * max_page) + 1
    var target_href = "{{ url_for('image.rbc',page='PAGE') }}".replace('PAGE',page_val)
    window.location.href = target_href
  }

  var idx = 0
  var label = 0
  for (i=0; i<labels.length;i++) {
      idx = cell_idxs[i]
      label = labels[i]
      $('#label' + idx + " select").val(label)
      $('#label' + idx + " select").change(function(e){
        var x = this.value;
        var form_id = this.id
        $.post( "/rbc_label", {
          label: x,
          form_id: form_id
        });
    });
  }
  $('#change-page').val({{ page }})
  $('#change-page').change(function(e){
    var page_val = $('#change-page').val();
    var target_href = "{{ url_for('image.rbc',page='PAGE') }}".replace('PAGE',page_val)
    window.location.href=target_href
  })
</script>

{% endblock %}
