{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">{% block title %}Password recovery{% endblock %}</h3>
    <h4 class="title">Get token</h4>
    <p>You have to request a token which will be emailed to you in order to reset
    your password.</p>
    <div class="box">
        <form method="POST" action="/send-token">
            <div class="field form-group">
                <label for="UserEmail">Email address</label>
                <input type="email" name="email" class="form-control" id="email-token" placeholder="email" autofocus="">
            </div>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <button class="btn btn-primary" href="#">Send token</button>
        </form>
    </div>

    <br>
    <br>
    <h4 class="title">Change password (requires token)</h4>
    <div class="box">
        <form method="POST" action="/new-password">
            <div class="field form-group">
                <label for="UserEmail">Email address</label>
                <input type="email" name="email" class="form-control" id="email-password" placeholder="email" autofocus="">
            </div>
            <div class="field form-group">
                <label for="UserPassword">Token</label>
                <input type="password" name="token" class="form-control" id="token-password" placeholder="token" autofocus="">
            </div>

            <div class="field form-group">
                <label for="UserPassword">New password</label>
                <input type="password" name="password" class="form-control" id="token-password" placeholder="token" autofocus="">
            </div>

            <div class="field form-group">
                <label for="UserPassword">Confirm new password</label>
                <input type="password" name="password-confirm" class="form-control" id="new-password-confirm" placeholder="token" autofocus="">
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <button class="btn btn-primary" href="#">Register password</button>
    </div>

</div>
{% endblock %}
